
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background-gradient: linear-gradient(40deg, #d0bdaf9b, #DA857B);
  --container-bg: #D5CEC5;
  --border-color: white;
  --text-color: #EEDBCF;
  --text-shadow-color: #DA857B;
  --line-color: rgb(235, 203, 203); 
  --box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.38);
  --input-padding: 6px 20px;
  --icon-size: 20px;
  --border-radius: 8px;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}



body {
  background: var(--background-gradient);
  margin: 0; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  overflow-x: hidden;
  
}

.main-container-login{
  display: flex;
  flex-direction: column;
}

.welcome-container {
  background: #E2C7B7;
  width: 70%;
  margin: 0 auto;
  height: 50px;
  border-radius: 0;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border: 1px solid var(--border-color);
  border-bottom: none;

}

.welcome-container p {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 30px;
}
.signIn-main-container {
  width: 90%;
  max-width: 600px;
  padding: 10px 12px;
  background: var(--container-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  min-width: 300px; 
}

.signIn-container{
  width: 100%;
  padding: 5px 30px 10%;
  background: var(--container-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin: 0 auto;
}

.signIn-container h1 {
  text-align: center;
  color: var(--text-color);
  text-shadow: 
    -1px -1px 0 var(--text-shadow-color),  
    1px -1px 0 var(--text-shadow-color),
    -1px 1px 0 var(--text-shadow-color),
    1px 1px 0 var(--text-shadow-color),
    2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: var(--font-secondary);
}


.user-input-container, .password-input-container {
  position: relative;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  justify-content: center;
}

.user-icon, .password-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.username, .password {
  width: 100%;
  max-width: 500px;
  font-weight: 150;
  font-size: 16px;
  font-family: var(--font-primary);
  letter-spacing: 3px;
  padding: var(--input-padding);
  padding-left: calc(var(--icon-size) + 20px);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--container-bg);
  box-shadow: var(--input-box-shadow); 
}

.forgot-password {
  text-align: right;
  margin-bottom: 10%;
  font-weight: 100;
  font-size: 14px;
}

.signIn-button {
  width: 100%;
  padding: 10px;
  background: var(--text-shadow-color);
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  font-family: var(--font-primary);
  letter-spacing: 3px;
}

.or-sign-with{
  text-align: center;
  margin: 10% 0;
  font-weight: 100;
  font-size: 14px;
}

.or-sign-with-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.or-sign-with-container .divider {
  flex-grow: 1;
  height: 2px;
  background-color: var(--text-shadow-color);
  border: none;
}

.or-sign-with-container .or-sign-with {
  margin: 0 10px;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-media-icons img {
  width: 30px;
  margin: 5px 10px;
  cursor: pointer;
}

.social-media-square{
  border: 1px solid var(--border-color);
  border-radius: 10%;
  padding: 6px 3px;
  margin: 10px;
}

.no-account {
  text-align: center;
  margin: 10% 0;
  font-weight: 100;
  font-size: 14px;
  white-space: nowrap;
}

.no-account a {
  color: var(--text-shadow-color);
  text-decoration: none;
  font-weight: 300;
}


/* BACKGROUND */

.clouds {
  position: fixed; 
  top: 14%;
  left: 100%;
  width: 60px;
  transform: translateY(-50%);
  animation: moveClouds 20s linear infinite; 
  z-index: -1;
}

@keyframes moveClouds {
  0% {
    transform: translate(0, -50%); 
  }
  100% {
    transform: translate(-100vw, -50%);
  }
}

.flowers {
  position: fixed;
  top: 4%;

  width: 20px;
  transform: translateX(-50%);
  animation: rotateFlower 10s linear infinite; 
}
.flowers-bottom {
  position: fixed;
  bottom: 10%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  animation: rotateFlower 10s linear infinite; 
  z-index: -1;
}

@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

.vertical-line-one {
  position: fixed;
  top: 43%; 
  left: 5%;
  width: 1px; 
  height: 55vh; 
  background-color: var(--line-color);
}
.vertical-line-two {
  position: fixed;
  top: 38%; 
  left: 10%;
  width: 1px; 
  height: 60vh; 
  background-color: var(--line-color);
}

.vertical-line-three {
  position: fixed;
  top: 84%; 
  left: 15%;
  width: 1px; 
  height: 14vh; 
  background-color: var(--line-color);
  z-index: -3;
}
.vertical-line-four {
  position: fixed;
  top: 84%;
  left: 84%;
  width: 1px; 
  height: 14vh; 
  background-color: var(--line-color);
}

.vertical-line-five {
  position: fixed;
  top: 38%; 
  left: 89%;
  width: 1px; 
  height: 60vh; 
  background-color: var(--line-color);
}
.vertical-line-six {
  position: fixed;
  top: 42%;
  left: 93%;
  width: 1px; 
  height: 56vh; 
  background-color: var(--line-color);
}

.lines{
  z-index: -1;
}
.vertical-line-seven {
  position: fixed;
  top: 48%;
  left: 97%;
  width: 1px; 
  height: 50vh; 
  background-color: var(--line-color);
}

.dots {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
  border-radius: 50%;
  animation: moveDots 10s linear infinite;
  z-index: -1;
}

.dots-two {
  position: fixed;
  top: 7%;
  left: 80%;
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
  border-radius: 50%;
  animation: moveDots 10s linear infinite;
}

.dots-three {
  position: fixed;
  top: 32%;
  left: 94%;
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
  border-radius: 50%;
  animation: moveDots 10s linear infinite;
}

.dots-four {
  position: fixed;
  top: 95%;
  left: 60%;
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
  border-radius: 50%;
  animation: moveDots 10s linear infinite;
}

.dots-five {
  position: fixed;
  top: 85%;
  left: 75%;
  width: 6px;
  height: 6px;
  background-color: var(--line-color);
  border-radius: 50%;
  animation: moveDots 10s linear infinite;
}

@keyframes moveDots {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(20px, 0);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.empty-circle{
  position: fixed;
  top: 2%;
  left: 60%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--line-color);
  border-radius: 50%;
  animation: rotateEmptyCircle 10s linear infinite;

}